%h1 New Conversation
= semantic_form_for @conversation, url: conversations_path do |form|
  = form.inputs do
    = form.input :subject
    = form.semantic_fields_for :messages, @message do |message|
      = message.input :body, as: :text
  = form.buttons do
    = form.commit_button label: 'Create Conversation'
